*{
    padding :0;
    margin:0;
    box-sizing: border-box;
}

body{
  background-color:rgb(227, 246, 255); 
  font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color:rgb(97, 135, 110);
    width:90vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow:0 20px 40px rgb(166, 187, 141);

}
.main-title{
    text-align: center;
    color: black;
    margin-top: 200px;
    font-size: 40px;
}
.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search-box input{
    padding-left:50px;
    width:70%;
    border:none;
    outline:none;
    border-bottom:1px solid gray;
    font-size: 30px;
    border-radius: 50px;
}
.search-box button{
    padding: 15px 0;
    width: 25%;
    background-color: white;
    border: none;
    outline: none;
    color: black;
    border-radius: 50px;
    font-size: 30px;
    transition: all 0.3s ease-out
}
.search-box button:hover{
    background-color: rgb(60, 98, 85);
}

.result{
    position: relative;
}
.result h3{
    font-size: 30px;
    color: #3c3479fb;
}
.result .word{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.result button{
    background-color: transparent;
    color: #ae9cff;
    border:none;
    outline: none;
    font-size: 18px;
}
.result .details{
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin:5px 0 20px 0;
    font-size: 14px;
}
.word-meaning{
    color:#20262E;
}
.word-example{
    color:#20262E;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top:30px;
}
.error{
    margin-top:80px;
    text-align: center;
}